.card {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.52rem;
  text-align: center;
  background-color: rgb(233, 233, 233);
  box-shadow: 0.5rem 0.5rem 1rem rgb(202, 202, 202),
    -0.5rem -0.5rem 1rem rgb(202, 202, 202);
  border-radius: 2rem;
}

.card img {
  width: 90%;
  height: 45%;
}

.card button {
  width: 90%;
  height: 2.5rem;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1rem;
}

.card button:hover {
  width: 90%;
  height: 2.5rem;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background-color: black;
}
